h1 {
    text-align: center;
}
.calculator {
    width:auto;
    display: grid;
    justify-content: center;
    margin-top: 100px;
}
#display {
    background-color: #b2b2b2;
    width: 330px;
    height: 70px;
    padding:10px 20px 10px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.current {
    font-size: 30px;
    margin-top: 5px ;
}
.previous {
    font-size: 22px;
}
.row {
    display: flex;    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
}
.op {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
}
.ext  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
}